@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

input{
    padding: 0.5rem;
    border: 2px solid gray;
    margin-block: 0.5rem;
    border-radius: 0.25rem;
}
