@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scrollbar-width: thin;
}

.hide-scroll{
    scrollbar-width: none;
}

input{
    padding: 0.5rem;
    border: 2px solid gray;
    margin-block: 0.5rem;
    border-radius: 0.25rem;
}
option{
    font: 'Karla',sans-serif;
}
.font-change{
    font-size: clamp(15px, 0rem + 1.2vw, 12px);
}

li{
    margin-block: 1.2rem;
    font-family: "Karla", sans-serif;
    font-size: min(20px, 8vw);
}
